# pandas的十套相关练习
## 练习1-开始了解你的数据
### 探索Chipotle快餐数据

In [2]:
# 导入使用的包
import pandas as pd

In [3]:
path1 = r"D:\study\DATA\pandas_exercise\exercise_data\chipotle.tsv"

In [4]:
chipo = pd.read_csv(path1, sep='\t')

In [ ]:
chipo.head(10)

In [9]:
# 查看数据集有多少列
chipo.shape[1]

5

In [7]:
# 打印出全部列的名称
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [8]:
# 数据集的索引
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [11]:
# 下单最多的商品
c = chipo[['item_name','quantity']].groupby(['item_name'], as_index=False).agg({'quantity':sum})
c.sort_values(by='quantity',ascending=False, inplace=True)
c.head(5)

              item_name  quantity
17         Chicken Bowl       761
18      Chicken Burrito       591
25  Chips and Guacamole       506
39        Steak Burrito       386
10    Canned Soft Drink       351

In [12]:
# 在item_name这一列中，一共有多少种商品被下单？
chipo['item_name'].nunique()

50

In [14]:
# 在choice_description中，下单次数最多的商品是什么？
chipo['choice_description'].value_counts().head(5)

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

In [15]:
# 一共有多少商品被下单？
totalItems = chipo['quantity'].sum()
totalItems

4972

#### 步骤13 将item_price转换为浮点数¶

In [17]:
dollarizer = lambda x : float(x[1:-1])
chipo['item_price'] = chipo['item_price'].apply(dollarizer)

#### 步骤14 在该数据集对应的时期内，收入(revenue)是多少

In [19]:
subTotal = round(chipo['quantity'] * chipo['item_price'], 3)
subTotal.sum()

39237.02